<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, p {
    color: aliceblue;
}

h1 {
    text-align: center;
    padding-top: 70px;
    font-size: 3em;
}

h2 {
    color: brown;
    text-align: center;
    font-size: 2em;
}

p {
    font-size: 1.5em;
    padding-left: 50px;
    width: 300px;
}

#règles {
    width: 550px;
}

@media screen and (max-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
    }

    #règles {
        display: none

    }

    
=======
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, p {
    color: aliceblue;
}

h1 {
    text-align: center;
    padding-top: 70px;
    font-size: 3em;
}

h2 {
    color: brown;
    text-align: center;
    font-size: 2em;
}

p {
    font-size: 1.5em;
    padding-left: 50px;
    width: 300px;
}

#règles {
    width: 550px;
}

@media screen and (max-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
    }

    #règles {
        display: none

    }

    
>>>>>>> 7b3547d28b0e4e46a1fe177df7881d37b042de1d
}